# Z-Notify HPNS Configurations
SECRET_KEY=SUPER_SECRET_SECURITY_KEY_FOR_JWT_TOKEN_GENERATION_32_CHARS
DATABASE_URL=postgresql://postgres:postgres@db:5432/znotify
REDIS_URL=redis://redis:6379/0

# Optional OpenAI personalization key
OPENAI_API_KEY=your_openai_api_key_here
